localhost {
    root * /app/static
    encode gzip
    file_server {
        hide .git
    }

    header {
        ?Cache-Control "max-age=1800"
        # Prevent cache revalidation with common cache-busting headers
        -If-Modified-Since
        -If-None-Match
    }

    handle /favicon.ico {
        respond 204
    }

    # Proxy only specific routes
    handle /ip* {
        reverse_proxy app:8888
    }
}